.contentPAssword {
	width: 100%;
	align-items: center;
}

.passwordInputStyle {
	height: 28px;
	width: 100%;
	border-radius: 12px;
	border: 1px solid #eee;
	box-shadow:  2px 2px solid #333;
}

.contentPAssword{
	display: flex;
	flex-direction: row;
	justify-items: center;
}

.iconStyle {
	margin-left: -22%;
	position: absolute;
	padding: 10;
}

.barStyle {
	height: 10;
	background: green;
}

.none {
}
.danger {
	background-color: red;
	width: 10%;
}
.warning {
	background-color: yellow;
	width: 50%;
}
.success {
	background-color: green;
	width: 100%;
}
